table {
    /* border-collapse: collapse; */
    width: 95%;
    font-size: 14px;
    margin: auto;
    background-color: #fff;
    margin-top: 24px;
}
thead {
    background-color: #283c4e;
    color: #fff;
    font-weight: 500;
    padding: 8px;

}

th{
    text-align: center;
}

td{
    text-align: left;
}

th, td {
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {
    background-color: #d6d9ff;
}

thead tr:hover {
    background-color: transparent;
}

.textcenter{
    text-align: center;
}

button{
    background-color: rgba(255, 255, 255, 0);
}

td button{
    font-size: 17px;
}