.row{
    display: flex;
    justify-content: space-between;
}

.col50 {
    width: 50%;
}

.input-item{
    padding:10px 5px;
}

.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.avatarWrap{
    display: flex;
    justify-content: center;
}


.buttonWrap{
    display: flex;  
    justify-content:flex-end;
}


