.btn {
    background-color: #255783;
    color: #fff;
    padding: 10px 24px 10px 24px;
    border-radius: 4px;
}
.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.btnAdd {
    margin-left: 32px;
    height: 32px;
    margin-top: 48px;
}