body {
	font-family: "Poppins", sans-serif;
}

h4 {
	text-align: center;
	color: #283c4e;
	margin: 8px 0 8px 0;
	display: none;
}

.search {
	padding: 6px;
	border: 1px solid #255783;
	border-radius: 4px;
	margin-right: 12px;
}

.search-form {
	margin-top: 24px;
	text-align: right;
	margin-right: 32px;
	padding-top: 24px
}

.wrapper-content {
	width: 95%;
	border-top-left-radius: 10px;
	/* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: auto;
	background-color: #f2f2f26e;
	text-align: center;
	margin-top: 70px;
	padding-bottom: 24px;
}

button, input {
	outline: none;
	border: none;
}

/*login*/
.wrapperInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wapperLogin {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f26e;
	margin-top: 50px;
	/* overflow: auto; */
  	/* max-height: 400px; thiết lập chiều cao tối đa của Card-content */
}

.wapperLogin.sizeWrapper {
	height: 100vh;
}

.container.login {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* modal */
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	align-items: center;
	justify-content: center;
	z-index: 10;
	display: none;
}

.modal.open {
	display: flex;
}

.container {
	position: relative;
	background-color: #fff;
	width: 500px;
	min-height: 200px;
	/* max-height:600px; */
	max-width: calc(100% -32px);
	animation: modalFadeIn ease 0.5;
	border-radius: 10px;
}

header.modalHeader {
	background: #255783;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.header-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 8px;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
}

.modal-close:hover {
	opacity: 0.8;
}

.body {
	padding: 32px;
	/*  overflow-y: scroll;
    scrollbar-width: thin;
    position: relative; */
}
.form {
	margin-top: 12px;
	text-align: left;
}

.wrapper-btn {
	display: flex;
	justify-content: space-between;
	margin-top: 12px;
}

@keyframes modalFadeIn {from { transform:translateY(-140px);
	
}

to {
	transform: translateY(0);
}

}
.modal-option {
	padding: 12px;
	outline: none;
	border: 1px solid #ccc;
	width: 100%;
	margin-bottom: 12px;
	margin-top: 12px;
	color: #666;
}

.modal-form-item {
	display: flex;
	justify-content: space-between;
}
/*student*/
.size-form {
	width: 50%;
	margin-top: 64px;
}

.modal-form-element:first-child {
	margin-right: 100px;
}

.wrapper-add-del {
	display: flex;
}

.btn-del {
	display: flex;
	margin-top: 24px;
	margin-left: 32px;
	height: 32px;
}

.container.scroll {
	overflow: auto;
	max-height: 600px;
}

i.update-icon {
	font-size: 16px;
	color: #255783;
	background: #fff;
}

i.update-icon:hover {
	color: blue;
	cursor: pointer;
}


.upload-img {
	width:100%;
	text-align: center;
}

.infor-img img {
	
	height: 92px;
    width: 92px;
}

.view-img img{
	border-radius: 50%;
}

input.choose-file {
	border: none;
	background: none;
	color:#fff;
}