.wrapper {
	display: flex;
	width: 100%;
	height: 42px;
	background-color: #283c4e;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	position: fixed;
	width: 100%;
	top: 0;
}

.navbar {
	z-index: 1;
	position: fixed;
	width: 100%;
	top: 0;
}

.text {
	text-decoration: none;
	color: #fff;
	line-height: 32px;
  font-weight: 400;
	width: 100%;
	height: 100%;
	display: block;
}

.text:hover {
  color: #283c4e;
}

.wrapperButton {
	align-items: center;
	text-align: center;
	width: 122px;
	height: 32px;
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	margin-right: 6px;
	display: flex;
}

.wrapperButton:hover {
	color: black;
	background-color: rgb(243, 247, 253);
	border-radius: 4px;
}

.menu {
	display: flex;
	margin: 0 32px 0 32px;
}

.avata img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
/* .user-infor {
	display: flex;
} */
.avata:hover .user-menu {
	display: block;
}

.avata {
	position: relative;
	display: flex;
	align-items: center;
}

.avata:hover {
	cursor: pointer;
}

.name-user {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	margin-left: 12px;
}

.user-menu {
	position: absolute;
	z-index: 1;
	padding: 14px 0;
	top: 130%;
	width: 160px;
	right: 0;
	background: #fff;
	list-style: none;
	/* box-shadow: 0 1px 2px #e0e0e0; */
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px
		6px;
	border-radius: 5px;
	display: none;
}

.user-menu::before {
	content: "";
	border-width: 20px 27px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	top: -29px;
	right: 94px;
}

.user-menu::after {
	content: "";
	display: block;
	position: absolute;
	top: -8px;
	right: 0;
	height: 8px;
	width: 56%;
}

.user-item:nth-child(2) {
	border-bottom: 1px solid #DCDCDC;
}

.user-item a {
	text-decoration: none;
	font-size: 13px;
	padding: 6px 16px;
	display: block;
	color: #808080;
	font-weight: 450;
	display: flex;
}

.wrapper-user-item:hover {
	background: #fafafa;
	z-index: 1;
}

.wrapper-user-item {
	display: flex;
	align-items: center;
	width: 100%;
}

.icon-item {
	color: #808080;
	font-size: 12px;
	padding-left: 12px;
}

/*  */

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}
